<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Consultation </title>
    
    <link rel="stylesheet" href="../css/bootstap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body class="consultbody" >
    {{>navbar}}
    {{>username}}
    <br>
    <center>
        <h1> CONSULTATION </h1>
    </center>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 order-md-0 order-1">
                {{>upload}}
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 order-md-1 order-0">
                
                <figure>
                    <img src="consultbgimg.jpg" width="400px" height="300px">
                    <br><br>
                    <figcaption> <h4  style="color:green;"> Only registered members can use this feature ! </h4> </figcaption>
                </figure>
               
            </div>
        </div>
    </div>
    <br> <br> <br>
    {{>footer}}
    <script>
        const picker = (()=>{
            // let data=document.forms.input.value()
            let data=document.getElementById(pickerid);
            data.addEventListener("change" , (e)=>{
                if(data=="Image"){
                    <div class="form-group">
                    <label for="b">Please choose a file :</label>
                    <input type="file" id="g" name="ag" accept="Image/*" required>
                    </div>
                }else if(data=="Audio"){
                    <div class="form-group">
                    <label for="b">Please choose a file :</label>
                    <input type="file" id="h" name="ah" accept="Audio/*" required>
                    </div>
                }else if(data=="Video"){
                    <div class="form-group">
                    <label for="b">Please choose a file :</label>
                    <input type="file" id="i" name="ai" accept="Video/*" required>
                    </div>
                }
            })
        })
    </script>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>