<div class="container" id="aboutid">
    <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-1 order-0"> 
            <figure>
                <img src="about-us1.png"  height="500px" width="400px">
            </figure>
            <p style="color:violet;"> We are a team of developers. <br>
             To see our team : <a href="team">Click here</a> </p>
        </div>
        <div class="col-md-6 col-12 hero-text order-md-0 order 1">
        <h1>About Us</h1>
        <ol style="list-style-type:number; color:deepskyblue">
            <li> Full Stack Web Developer </li>
            <li>  Java Developer  </li>
            <li>  Part-time FreeLancer  </li>
            <li> Database Management associate </li>
            <li>  Investor  </li>
        </ol>
        </div>
    </div>
</div>
</div>
</div>