<center>
    <img src="Contact-Us.png" alt="" height="250px" width="400px">
    <br>
    <br>
</center>
<div class="container">
<div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <center>
            <h2 class="con-title" style="font-size:2em">Feel free To Contact</h2>
            <pre> 
            Hello Everyone! Have a great day :) 
            I am here to help you. 
            If you want to know something or you have any 
            suggestion then please mail me. Thank You. 
            </pre>
             </center>
            <ul>
                <li class="contactlinks"> <i class="lnr lnr-map"> </i> Sonepur , Bihar </li> <br>
                <li class="contactlinks">  <i class="lnr lnr-envelope"> </i> amulyakkumarsingh007@gmail.com </li> <br>
                <li class="contactlinks"> <i class="lnr lnr-earth"> </i> my-fs-services.com </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="container-fluid" id="contactid">
            <center> <h1>Contact us</h1> <br>
            <form class="contactform" action="/contact" method="POST">
            <div class="form-group">
            <label for="a">Name :</label>
            <input type="text" class="form-group" id="a" placeholder="enter your name" name="name">
        </div><br>
        <div class="form-group">
            <label for="b">E-mail :</label>
            <input type="email" class="form-group" id="b" placeholder="enter your email" name="email">
        </div><br>
        <div class="form-group">
            <label for="c">Phone :</label>
            <input type="number" class="form-group" id="c" placeholder="enter your number" name="phone">
        </div><br>
        <div class="form-group">
            <label for="d">Message :</label>
            <input type="text" class="form-group" id="d" placeholder="enter your message" name="message">
        </div>
        <br>
    <button type="submit" class="btn btn-outline-success"> Submit</button>
    </center>
    </form>
    </div>

            
    </div>
</div>
</div>


