<div class="container" id="contactid">
<form class="contactform" action="/contact" method="POST">
<div class="form-group">
    <label for="a">Name :</label>
    <input type="text" class="form-group" id="a" placeholder="enter your name" name="name">
</div><br>
<div class="form-group">
    <label for="b">E-mail :</label>
    <input type="email" class="form-group" id="b" placeholder="enter your email" name="email">
</div><br>
<div class="form-group">
    <label for="c">Phone :</label>
    <input type="number" class="form-group" id="c" placeholder="enter your number" name="phone">
</div><br>
<div class="form-group">
    <label for="d">Message :</label>
    <input type="text" class="form-group" id="d" placeholder="enter your message" name="message">
</div>
<br>
<center>
    <button type="submit"> Submit</button>
</center>
</form>
</div>