<center>
    <form action="" class="my-form" method="POST">
    <div class="row">
        <div class="col-md-6">
            <label for="validationDefault01">First name</label>
            <input type="text" name="fn"  id="validationDefault01" placeholder="First name" size="30" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault02">Last name</label>
            <input type="text" name="ln"  id="validationDefault02" placeholder="Last name" size="30"  required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="validationDefault03">City</label>
            <input type="text" name="city" id="validationDefault03" placeholder="City" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationDefault04">State</label>
            <input type="text" name="state" id="validationDefault04" placeholder="State" required>
        </div>
    </div>
    <br>
    <div>
        <label for="validationDefaultUsername">Email</label>
        <input type="email" name="email" id="validationDefaultemail" placeholder="e-mail" size="30 !important" required>
        <br><br>
        <label for="validationDefaultUsername">Username</label>
        <input type="text" name="username" id="validationUsername" placeholder="Username" size="30 !important" required>
        <br><br>
        <label for="pswd"> Password </label>
        <input type="password" name="password" id="validationPassword" placeholder="password" size="30 !important" required>
    </div> 
    <br>
    <br>
    <div >
        <input  type="checkbox" id="invalidCheck2" required >
        <label class="form-check-label" for="invalidCheck2" >
           Agree to terms and conditions
        </label>
    </div>
    <br>
    <center>
        <button class="btn btn-success" type="submit"> Submit </button>
    </center>
</form>  
</center>
