<footer style="display:flex; justify-content:center">
    <p style="padding:10px; margin:10px;" > Created by The Magic Of Coding </p>
    <img src="logo/logo1.jpeg" alt="" width="80px" height="80px">
</footer>