<div class="container" id="serviceid">   
    <div class="row" >       
        <div class="col-sm-12 col-md-7 col-lg-7 hero-text order-md-0 order-0">
            <center>
            <h1> My Services </h1> <br>
            <ol class="service-list" style="list-style-type:number; color:deepskyblue">
                <button class="btn btn-outline-primary"> Java Development </button> 
                <button class="btn btn-outline-secondary"> Front-end Web Development </button><br> <br>
                <button class="btn btn-outline-success"> Back-end Web Development </button> 
                <button class="btn btn-outline-danger"> Database Management </button> <br> <br>
                <button class="btn btn-outline-warning"> Consultation </button>
                <button class="btn btn-outline-info"> Freelancing </button> <br> <br>
            </ol>
            </center>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 hero-text order-md-1 order-0"> 
            <figure>
                <img src="services1.jpg" alt=" " width="400px" height="=300px">
                <br><br><br>
                <p style="color:violet;"> We are here to help you. <br>
                 We provide these services to our clients : </p>
            </figure>
        </div>
    </div>    
</div>