<span class="side-username">
    <button class="btn btn-outline-secondary" id="usernamespan" name="theloggeduser">  </button>
</span>
<script>
    var myElement=document.getElementById("usernamespan");
</script>